/* Styles go here */

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Cherry Swash', sans-serif;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: bold;
}

.banner {
    width: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
    background: url("images/background.png") no-repeat fixed;
    background-size: cover;
}

/* Nav menu */

.bar {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 40px;
    background-color: white;
}

.bar.bottom {
    bottom: 0;
}

.menu-button-container{
    font-size:16px;
    display:none;
    height: 2.4em;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.menu-button {
    display: none;
    position: fixed;
    top: 1px;
    right: 0;
    z-index: 3;
}

.menu-button .menu-button-bar {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px;
}

.nav-container {
    font-size: 16px;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

nav a {
    width: 130px;
}

nav a:hover {
    background: rgba(195, 195, 195, 0.7);
}

.logo {
    font-size: 2.3em;
    width: 3.5em;
    padding: 0.9em 0;
    margin: 0 0 0.4em;
    text-align: center;
}

.nav-item {
    width: 6em;
    padding: 0.7em 0;
}

header {
    font-size: 1.7em;
}

.title {
    text-align: center;
    font-weight: normal;
}

.content {
    font-size: 10px;
    position: relative;
    width: 76em;
    height: 51em;
    margin: 4em auto 0;
    overflow-x: hidden;
}

.content.rounded {
    /*width: 33em;
    height: 21em;*/
    border-radius: 16em;
    background-color: white;
}

/* Wedding page */

.wedding-info {
    font-size: 1.5em;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: black;
    background: white;
}

.wedding-info form {
    position: relative;
    left: 0;
    right: 0;
}

.wedding-info .info {
    position: relative;
}

.wedding-info .pretext {
    top: 9em;
    font-family: 'News Cycle', sans-serif;
}

.wedding-info .location {
    font-size: 1.6em;
    top: 5.7em;
}

.wedding-info .date {
    top: 9.4em;
    font-family: 'News Cycle', sans-serif;
}

.wedding-info .description {
    font-family: 'News Cycle', sans-serif;
    top: 11em;
    width: 56%;
    margin: 0 auto;
}

.wedding-info .rsvp {
    font-size: 1.6em;
    top: 7em;
    color: red;
}

.wedding-info .directions {
    font-family: 'News Cycle', sans-serif;
    top: 13em;
}

.directions a {
    background-color: #ababab;
    border: solid 1px black;
    padding: 0 1em;
}

/* Story Page */

p.line-small {
    margin: 0;
}

.story {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.story .page {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    font-family: 'News Cycle', sans-serif;
}

.story .page.shown {
    opacity: 1;
    pointer-events: auto;
}

.story .page-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.7em;
}

.story .page .arrow {
    margin: 0 0.5em;
}

.story .page .arrow img {
    height: 2em;
}

.story .page .arrows {
    display: flex;
    justify-content: center;
}

.page-text {
    position: absolute;
    top: 8em;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 30em;
}

.page-text.sm {
    width: 29em;
}

.page-text.lg {
    width: 35.5em;
}

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.7em;
    width: 25.4em;
    height: 6.4em;
    margin: 0 auto;
    background: url("images/Top Scroll.png") no-repeat;
    background-size: 100%;
}

.page-footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 25.4em;
    height: 5em;
    margin: 0 auto;
    background: url("images/Bottom Scroll.png") no-repeat;
    background-size: 100%;
}

.page-footer {
    bottom: 1.7em;
}

.story .page-footer {
    bottom: 4em;
}

/* Contact Page */

.contact {
    font-size: 1.5em;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: black;
    background: white;
}

.email-info, .email {
    font-size: 1.2em;
    position: relative;
    top: 7em;
}

.email {
    font-weight: bold;
}

.form-info {
    font-size: 0.9em;
    position: relative;
}

.contact-inputs {
    position: relative;
    display: inline-block;
    top: 10em;
    text-align: left;
}

.contact-inputs input, .contact-inputs textarea {
    display: block;
    margin: 3px auto;
    font-family: 'News Cycle', sans-serif;
}

.contact-inputs input[type=text],
.contact-inputs input[type=tel],
.contact-inputs input[type=email],
.contact-inputs textarea,
.contact-inputs input[type=submit] {
    font-size: 0.8em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    padding: 0 1px;
}

.contact-inputs input[type=text],
.contact-inputs input[type=tel],
.contact-inputs input[type=email],
.contact-inputs textarea {
    width: 24em;
}

.contact-inputs input[type=submit] {
    font-size: 0.7em;
    padding: 0 1.5em;
    background-color: #b3b3b3;
}

.contact-inputs textarea {
    height: 6em;
}

/* Home Page */

.welcome-text {
    display: none;
}

.img-container {
    width: 100%;
}

.img-container img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.img-container .circle {
    width: 350px;
    height: 350px;
}

/* Registry page*/

.registry-info {
    font-size: 1.5em;
    height: 100%;
    text-align: center;
}

.registry-info .info {
    font-size: 1.1em;
    position: relative;
    left: 0;
    right: 0;
}

.registry-info .pretext {
    top: 10em;
}

.registry-info .site {
    top: 10.5em;
    font-weight: bold;
}

.registry-info .instructions {
    top: 13em;
}

.registry-info .thanks {
    top: 14em;
}

.registry-info .links {
    top: 15em;
    font-family: "News Cycle", sans-serif;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .welcome-text{
        display: block;
    }

    .content {
        font-size: 8px;
        width: 100%;
        margin: 6em auto 0;
    }

    .content.rounded{
        border-radius: 0;
    }

    .menu-button-container {
        display: block;
    }

    .menu-button {
        display: block;
    }

    .img-container img {
        width: 400px;
    }
    
    .nav-container {
        position: fixed;
        display: block;
        width: auto;
        top: 38px;
        right: -150px;
        padding: 0;
    }
    
    .nav-active .nav-container {
        right: 0;
    }

    nav{
        flex-direction: column;
    }
    
    .logo {
        display: none;
    }
    
    main {
        margin: 0;
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}