/* Styles go here */

* {
    transition-duration: 0.3s;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: white;
    font-family: 'Cherry Swash', sans-serif;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner {
    width: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
    background: url("images/background.png") no-repeat fixed;
    background-size: cover;
}

/* Nav menu */

.bar {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 40px;
    background-color: white;
}

.bar.bottom {
    bottom: 0;
}

.menu-button {
    display: none;
    position: fixed;
    top: 2px;
    right: 0;
    z-index: 3;
}

.menu-button .menu-button-bar {
    width: 30px;
    height: 5px;
    background-color: #acacac;
    margin: 5px;
}

.nav-container {
    font-size: 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

nav a {
    width: 130px;
}

nav a:hover {
    background: rgba(195, 195, 195, 0.7);
}

.logo {
    font-size: 2.3em;
    width: 3.5em;
    padding: 0.9em 0;
    margin: 0 0 0.4em;
    text-align: center;
}

.nav-item {
    width: 6em;
    padding: 0.7em 0;
}

header {
    font-size: 1.7em;
}

.title {
    text-align: center;
    font-weight: normal;
}

.content {
    position: relative;
    max-width: 760px;
    margin: 40px auto 0;
    overflow-x: hidden;
}

.content .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.content.rounded {
    width: 33em;
    height: 21em;
    border-radius: 163px;
}

/* Wedding page */

.wedding-info {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: black;
    background: white;
}

.wedding-info div, .wedding-info form {
    position: relative;
}

.wedding-info .date {
    font-size: 1.4em;
    top: 2.6em;
}

.wedding-info .location {
    font-size: 1.6em;
    top: 1.8em;
}

.wedding-info .description {
    font-size: 1em;
    font-family: arial;
    font-style: italic;
    top: 5em;
    width: 56%;
    margin: 0 auto;
}

.wedding-info .rsvp {
    font-size: 1.4em;
    top: 5.1em;
    color: red;
}

.wedding-info .tag {
    font-size: 1.2em;
    top: 7.2em;
}

/* Story Page */

.story {
    font-size: 0.9em;
    height: 100%;
    margin: 3em 3.6em;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
}

.story .page.text-sm p {
    font-size: 0.9em;
}

.story .page {
    position: absolute;
    height: 20em;
    opacity: 0;
    pointer-events: none;
    font-family: 'PT Sans', sans-serif;
}

.story .page.shown {
    opacity: 1;
    pointer-events: auto;
}

.story .page-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.story .page .arrow {
    margin: 0 0.5em;
}

.story .page .arrow img {
    height: 2em;
}

.story .page .arrows, .story .page .page-num {
    display: flex;
    justify-content: center;
}

/* Contact Page */

.email-info, .email {
    top: 1.2em;
    font-size: 1.2em;
}

.email {
    font-weight: bold;
}

.form-info {
    top: 2.9em;
    font-size: 1em;
}

.contact-inputs {
    top: 3.2em;
}

.contact-inputs input, .contact-inputs textarea {
    display: block;
    margin: 3px auto;
    font-family: arial;
}

.contact-inputs input[type=text], .contact-inputs input[type=email],
.contact-inputs textarea, .contact-inputs input[type=submit] {
    font-size: 1em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    padding: 2px;
}

.contact-inputs input[type=text], .contact-inputs input[type=email],
.contact-inputs textarea {
    width: 14em;
}

.contact-inputs input[type=submit] {
    font-size: 0.9em;
    padding: 0.3em 1em;
    background-color: #b3b3b3;
}

.contact-inputs textarea {
    height: 4em;
}

/* Home Page */

.img-container {
    width: 100%;
}

.img-container img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.img-container .circle {
    width: 350px;
    height: 350px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .content-container {
        max-width: 600px;
    }

    .menu-button {
        display: block;
    }

    .img-container img {
        width: 400px;
    }

    .nav-container {
        position: fixed;
        display: block;
        top: 40px;
        right: -150px;
        padding: 0;
    }

    .nav-active .nav-container {
        right: 0;
    }

    .logo {
        display: none;
    }

    main {
        margin: 0;
    }
}

@media only screen and (max-width: 425px) {
    .content {
        font-size: 12px;
    }

    .img-container img {
        width: 300px;
    }
}

@media only screen and (max-width: 375px) {
    .content {
        font-size: 11px;
    }

    .img-container img {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .content {
        font-size: 9px;
    }

    .img-container img {
        width: 300px;
    }
}